div:first-child,div:nth-child(2),div:nth-child(3){
	width: 200px;
	height: 200px;

}
div:nth-child(1){
	background-color: orange;

}
div:nth-child(2){
	background-color: darkblue;
	position: relative;
	left: 150px;
	top: 150px;
	z-index: -1;

}
div:nth-child(3){
	background-color: darkcyan;
	/*z-index: -2*/
}
