
       .phone{
            width: 15px;
            height: 20px;
            background: url("../img/jd.png") no-repeat 0 -100px;
        }
        .shopping{
            width: 57px;
            height: 49px;
            background: url("../img/jd.png") no-repeat 0 -438px;
        }
    